.bestcompany{
    width: 300px;
    height: auto;
    background-color: #F7F7F7;
    padding: 0 25px;
    padding-bottom: 25px;
    position: absolute;
    right: 4%;
    bottom: -360px;
    border-radius: 5px;
}
/* ////////////////////////////// */
/* hrline */
/* ////////////////////////////// */

.hrline{ 
    display:grid ;
}


/* ////////////////////////////// */
/* card in */
/* ////////////////////////////// */
.bc-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bc-dv{
    display: flex;
    align-items: center;
}

.bc-link{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
    color: #444;

}
.bc-link:hover{
    color: #548daad2;
}
.bc-li{
    height: 32px;
    width: 32px;
    border-radius: 3px;
}

.bc-p{
    color: #cd66cd;
    display: block;
    font-size: 12px;
    font-weight: 700;
    display: block;
    width: 55px;
}



/* buttom link */
.bc-ul-link{
    color: #548eaa;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}