/* /////////////////////////// */
/* header top  */
/* /////////////////////////// */
.headertop{
    background-color:#303B44;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.h-t-left{
    position: absolute;
    left: 7%;
}

.h-t-l-logo{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    padding: 1px 6px;
    margin: 6px 0;
    position: relative;
}
.h-t-l-line{
    position: absolute;
    background-color: #626A71;
    top: 25%;
    right: 0;
    height: 25px;
    width: 1px;
}

.FaDown{
    color: #FFFFFF;
    top: 30%;
    font-size: 20px;
    position: absolute;
    padding-left: 5px;
}
.h-t-button1{
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    width: 145px;
    left: 150%;
    top: 20%;
    font-size: 13px;
    border: 1px solid #626A71;
    border-radius: 2px;
    padding: 2px 6px;
}
.h-t-button1:hover{
    border: 1px solid #e7e8e9;

}

/* ////////////////////////////// */
/* OPEN SIDENAV */
/* ////////////////////////////// */

.header-dropdown{
    display: none;
    position: absolute;
    left: 0;
    margin-left: 50px;
}
.header-dropdown-item{
    width: 23px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    border-radius: 7px;
}




/* /////////////////////////// */
/* Header Top Right */
/* /////////////////////////// */
.header-top-right{
    display: flex;
    position: absolute;
    right: 10%;
}
.h-t-right{
    position:absolute;
    right: 7%;
    color: #A2D0EB;
    text-decoration: none;
    font-size: 13px;
}

.top-search{
    color: #909090;
    font-size: 20px;
    font-weight: 500;
    display: none;
}
.top-signinmob{
    display:none;
    color:  #909090;
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    width: 200px;
    background-size: cover;
    cursor: pointer;
    height: 24px;
    margin-left: 16px;
    outline: 0;
    position: relative;
    width: 24px;
    
}
/* /////////////////////////// */
/* header  page */
/* /////////////////////////// */




.headerone{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D5DDDF;
    position: relative;
    background-color: #fff;
}
.headerone ul{
    position: absolute;
    display: flex;
    list-style: none;
    left: 4%;
    top: 6%;
    align-items: center;
}
.headerone ul li{
    padding: 0 10px;
    font-size: 12px;
}
.h-link{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #909090;
}
.h-link:hover{
    color: #5096B1;
}


/* /////////////////////////// */
/* Headerone Right */
/* /////////////////////////// */
.header-right{
    position: absolute;
    right: 7%;
    width: 20%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    color: #909090;
    font-size: 20px;
    font-weight: 500;

}
.language{
    font-size: 23px;
    color: #909090;
    font-weight: 500;


}
.language:hover{
    color: #5096B1;
}
.search:hover{
    color: #5096B1;
}
.signin{
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #909090 ;
    padding: 7px 11px;
    border-radius:5px;
}
.signup{
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #909090;
    padding: 8px 10px;
    color: white;
    border-radius:5px;
    background-color: #65A3BE;



}
.signup:hover{
    background-color: #31a1e2 ;
}

.signinm{
    color: white;
    text-decoration: none;
    display: none;
}
.signinmob{
    display:none;
    color:  #909090;
    text-decoration: none;
    position: absolute;
    left: 35%;
    font-size: 20px;
}
.signinmob:hover{
    color: #5096B1;
}
/* ///////////////////////////// */
/* MOBILE VERSION */
/* ///////////////////////////// */


/* Mobile*/
@media only screen and (max-width: 1024px) {
    .h-t-button1{display: none;}
    .headerone{display: none;}
    .FaDown{display: none;}
    .h-t-l-line{display: none;}
    .h-t-right{display: none;}
    .signinmob{display: inline-table;}
    .top-search{display: block;}
    .top-signinmob{display: block;}

    .header-dropdown{
        display: inline;
        left: -50px;
    
    }

    .h-t-l-logo{
        left: 50%;
    }
}

/* Table */
@media only screen and (max-width: 1200px) {
    .h-t-button1{display: none;}
    .signinm{display: inline-table;}
    .language{display: none;}
    .signin{display: none;}
    .signup{display: none;}
    .signinmob{display: inline-table;}
    .search{
        position: absolute;
        left: 30px;
    }
}
